<div class="videoconsultation">
  <div class="videoconsultation__title">
    <span>VIDEOCONSULTA</span>
  </div>
  <div class="videoconsultation__content">
    <iframe *ngIf="urlVideoConsultation" width="100%" height="100%" [src]="urlVideoConsultation" frameborder="0"></iframe>
  </div>
  <div class="videoconsultation__action">

    <!-- <div class="g-bt--1 g-bt-lg--0 py-3 py-lg-0 w-100 w-px-lg--12 g-bl-lg--1 d-lg-flex align-items-center justify-content-center flex-grow-1"> -->
      <a href="javascript:void(0)" 
          [ngClass]="{'g-full-form--load custom-load-btn-conclude-video-consultation': loadingBtnEndVideoConsultation}" 
          class="custom-btn-concluded g-btn g-font--medium g-c--pointer g-link--green1"
          [class.disabled]="loadingBtnEndVideoConsultation"
      >
          {{btnConclude}}
      </a>
    <!-- </div> -->

  </div>